@import '../../../../scss/custom-variables';

* {
  color: var(--white-text);
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem $primary;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

a:hover {
  text-decoration: underline !important;
}


.content {
  margin: 10px auto;

  .or {
    text-align: center;
    font-size: 20px;
    background:
      linear-gradient(#fff 0 0) left,
      linear-gradient(#fff 0 0) right;
    background-size: 40% 1px;
    background-repeat: no-repeat;
  }
}


