<h1 class="mb-5">{{field?.name}}</h1>

<div class="config-section d-flex justify-content-center gap-3 mb-3 flex-wrap">
  <button class="btn btn-primary" (click)="editAvailability()"><i class="bi bi-calendar2-event me-2"></i>Program schedule</button>
  <button class="btn btn-primary" (click)="editField()"><i class="bi bi-pencil me-2"></i>Edit</button>
  <button class="btn btn-danger" (click)="deleteField()"><i class="bi bi-trash3 me-2"></i>Delete</button>
</div>

<router-outlet></router-outlet>

