<section class="section">
  <div class="container">
    <div class="d-flex flex-column">
      <h1>Book your field</h1>
      <div class="filter-menu d-flex justify-content-between align-content-center rounded-3 my-4">
        <ul class="list-unstyled d-flex mb-0 gap-3">
          <li class="me-2">Sort by</li>
          <li>Name</li>
          <li>Type</li>
          <li>Availability</li>
        </ul>
        <ul class="list-unstyled d-flex mb-0 gap-3">
          <li><a [routerLink]="['/reservation/list']" routerLinkActive="router-link-active"><i class="bi bi-list-ul"></i></a></li>
          <li><a [routerLink]="['/reservation/map']" routerLinkActive="router-link-active"><i class="bi bi-pin-map"></i></a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
