<div class="filter-menu rounded-3 mb-4">
  <ul class="list-unstyled d-flex mb-0 gap-3">
    <li class="me-2">Sort by</li>
    <li>Name</li>
    <li>Type</li>
    <li>Availability</li>
    <li><i class="bi bi-pin-map"></i></li>
  </ul>
</div>
<div class="gap-4 fields-grid">
  @for (field of fields(); track $index) {
    <div class="field-card-wrapper">
      <div class="field-card d-flex flex-column justify-content-between rounded-3">
        <div class="field-card-header">
          <div class="image"></div>
          <div class="field">
            <h3 class="field-name">{{ field.name }}</h3>
          </div>
        </div>

        <div class="field-card-body">
          <span><Address>{{ field.address }}</Address></span>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2 justify-content-between">
              <span class="rounded-pill px-3 bg-secondary field-type">{{ field.type }}</span>
              @if (field.public) { <span class="rounded-pill px-3 bg-success-subtle public-pill">Public</span> }
            </div>
            @if (company) {
              <button class="btn btn-primary d-flex gap-3">
                <i class="bi bi-gear"></i>
                Manage
              </button>
            }
            @else if (!field.public) {
              <button class="btn btn-primary">Book</button>
            }
            @else {
              <button class="btn btn-danger">View</button>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
