<div class="filter-menu rounded-3 mb-4">
  <ul class="list-unstyled d-flex mb-0 gap-3">
    <li class="me-2">Sort by</li>
    <li>Name</li>
    <li>Type</li>
    <li>Availability</li>
    <li>Location</li>
  </ul>
</div>
<div class="gap-4 fields-grid">
  @for (field of fields(); track $index) {
    <div class="field-card-wrapper">
      <div class="field-card rounded-3">
        <div class="field-card-header">
          <div class="image"></div>
          <div>
            @if (!company) {
              <div class="stars">
                @for (star of stars; track $index) {
                  <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                  </svg>
                }
              </div>
            }
            <h3 class="field-name">{{ field.name }}</h3>
          </div>
        </div>

        <div class="field-card-body">
          <span><Address>{{ field.address }}</Address></span>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between">
              <span class="rounded-pill px-3 field-type">{{ field.type }}</span>
              <span class="rounded-pill bg-secondary public-pill">Public</span>
            </div>
            @if (company) {
              <button class="btn btn-primary d-flex gap-3">
                <i class="bi bi-gear"></i>
                Manage
              </button>
            }
            @else if (!field.public) {
              <button class="btn btn-primary">Book</button>
            }
            @else {
              <button class="btn btn-danger">View</button>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
