@import '../../../../scss/custom-variables';


.fields-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  align-items: stretch;

  .field-card-wrapper {
    transition:  all .3s cubic-bezier(0,0,.5,1);
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);

    &:hover {
      transform: scale(102%);
      box-shadow: 2px 4px 16px rgba(0,0,0,.16);
      transition:  all .3s cubic-bezier(0,0,.5,1);
    }

    .field-card {
      height: 100%;
      background-color: var(--white-color);
      padding: 2rem;


      &-header {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .image {
          height: 4rem;
          width: 4rem;
          border-radius: 9999px;
          object-fit: cover;
          background-color: gray;
        }

        .field {
          flex: 3;
          white-space: nowrap;
          overflow: hidden;

          .field-name {
            margin-top: 0.25rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 600;
            color: rgb(55, 65, 81);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }

      .field-card-body {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-top: 1rem;
        color: #3C4048;

        address {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .fields-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (min-width: 992px) {
  .fields-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
