<div #mapListDiv id="mapListDiv"></div>
<div class="d-flex flex-column gap-4 map-controls">
  <a class="bg-primary" id="closeMapButton" [routerLink]="['/reservation']" routerLinkActive="router-link-active"><i class="bi bi-x-lg"></i></a>
  <button id="centerMapButton" (click)="centerMap()" class="btn btn-dark"><i class="bi bi-crosshair"></i></button>
</div>
<!-- <div #popupContainer class="popup-container">
  @if (fieldPopup) {
    <div class="d-flex flex-column gap-2 text-center">
      <h5 class="text-center">{{ fieldPopup.name }}</h5>
      <p>{{ fieldPopup.address }}</p>
      <div class="d-flex justify-content-between">
        <span class="rounded-pill px-3 bg-secondary-subtle field-type">{{ fieldPopup.type }}</span>
      </div>
      <a [routerLink]="['/reservatio']">View</a>
    </div>
  }
</div> -->
