<div class="modal-content bg-dark text-white">
  <div class="modal-header justify-content-center">
    <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">

      <div class="row row-gap-3 justify-content-center">

        <div class="col-6 bg-white rounded-3 text-dark py-3 text-center">
            <strong>{{ date.date }}</strong>
            <hr>
            From <strong>{{ date.startTime }}</strong> to <strong>{{ date.endTime }}</strong>
        </div>
        @if (!delete) {
          <form [formGroup]="reservationForm" (submit)="confirm()">
            <div class="col-12">
              <label class="form-label" for="priceInput">Price (€)</label>
              <input type="number" min="0" max="1000" class="form-control" formControlName="price" id="priceInput" required
              [ngClass]="{'is-invalid': controls.price.invalid && controls.price.touched}">
              @if (controls.price && controls.price.touched) {
                <span class="invalid-feedback">Price is required. Minimum (0€)</span>
              }
            </div>
          </form>
        }
      </div>
  </div>
  <div class="modal-footer d-flex justify-content-center gap-5">
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="confirm()">Confirm</button>
  </div>
</div>

