.navbar {
	z-index: 9;
  transition: background-color 200ms;
  background-color: var(--secondary-color);
}

@media screen and (min-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}

.navbarBackground {
  background-color: var(--secondary-color);
  transition: background-color 200ms;
}

.navbar-brand {
	font-size: var(--h3-font-size);
	font-weight: var(--font-weight-bold);
	display: block;
  color: var(--white-color);

	img {
    height: 38px;
    width: auto;
  }
}

.navbar-nav {

	.nav-link {
		display: inline-block;
		color: var(--white-color);
		font-size: var(--menu-font-size);
		font-weight: var(--font-weight-medium);
		text-transform: uppercase;
		letter-spacing: 0.5px;
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
    transition: all 200ms;


		&:hover {
			color: var(--dark-color);
		}
	}

  .nav-link.router-link-active {
    transition: all 200ms;
		color: var(--dark-color);
  }
}

.navbar-toggler {
	border: 0;
	padding: 0;
	cursor: pointer;
	margin: 0;
	width: 30px;
	height: 35px;
	outline: none;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	.navbar-toggler-icon {
		background: var(--white-color);
		transition: background 10ms 300ms ease;
		display: block;
		width: 25px;
		height: 1px;
		position: relative;
		&:before {
			transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
			transition: top 300ms 350ms ease, transform 300ms 50ms ease;
			transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
			position: absolute;
			right: 0;
			left: 0;
			background: var(--white-color);
			width: 25px;
			height: 1px;
			content: '';
		}
		&:after {
			transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
			transition: top 300ms 350ms ease, transform 300ms 50ms ease;
			transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
			position: absolute;
			right: 0;
			left: 0;
			background: var(--white-color);
			width: 25px;
			height: 1px;
			content: '';
		}
		&::before {
			top: -8px;
		}
		&::after {
			top: 8px;
		}
	}
}
.navbar-toggler[aria-expanded="true"] {
	.navbar-toggler-icon {
		background: transparent;
		&:before {
			transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
			transition: top 300ms 50ms ease, transform 300ms 350ms ease;
			transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
			top: 0;
			transform: rotate(45deg);
		}
		&:after {
			transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
			transition: top 300ms 50ms ease, transform 300ms 350ms ease;
			transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
			top: 0;
			transform: rotate(-45deg);
		}
	}
}

@media (min-width: 992px) {
  .nav-link.router-link-active {
    border-bottom: 1px solid var(--primary-color);
  }
}

.action {
  position: relative;

  .profile {
    cursor: pointer;
    font-size: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.under {
      cursor: auto;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }


  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

    &.active {
      visibility: visible;
      opacity: 1;
      top: 3.2rem;
    }

    ul {

      hr {
        margin: 0;
      }

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        padding-right: 3rem;
      }

      li:nth-of-type(2) {
        padding-bottom: 0;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
      }

      li:hover {
        a, button {
          color: var(--secondary-color) !important;
        }
      }
    }
  }

}


.logout-button {
  background: none;
  color: #555;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}




