@import '../../../../scss/custom-variables';

nav {
  background-color: rgba(0,0,0,0.8);

  * {
    color: rgba(255, 255, 255, .8);
  }

  .navbar-toggler {
    border: none;

    .bar {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.3s;
    }
  }

  .nav-link.active {
    color: $primary !important;
  }

  #offcanvasNavbar {
    border-radius: 1rem 0 0 1rem;

    .router-link-active {
      box-shadow: 0 2px 0 0 $primary;
    }
  }
}
