<nav [ngClass]="{'navbarBackground': !isAtTop }" class="navbar navbar-expand-lg fixed-top">
  <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="['/home']">
        <img src="../../../../assets/images/logo.png" alt="Logo">
        <span>{{ title }}</span>
      </a>

      <button class="navbar-toggler" #closeButton type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" #navbarNav id="navbarNav">
          <ul class="navbar-nav ms-lg-5 me-lg-auto">
            @for (route of routes; track $index) {
              <li class="nav-item">
                @if (route.path !== 'login' && route.path !== 'register' && route.path !== 'manage' && route.path !== 'reservations' && route.path !== 'not-found') {
                  <a class="nav-link" [routerLink]="route.path" routerLinkActive="router-link-active" >{{ route.title }}</a>
                }
                @if (route.path === 'manage' && userInfo().role === 'company') {
                  <a class="nav-link" [routerLink]="route.path" [queryParams]="{company: true}" routerLinkActive="router-link-active" >{{ route.title }}</a>
                }
                @if (route.path === 'reservations' && userInfo().role !== 'company') {
                  <a class="nav-link" [routerLink]="route.path" routerLinkActive="router-link-active" >{{ route.title }}</a>
                }
              </li>
            }
          </ul>
          <hr class="d-lg-none">
          <div class="navbar-nav justify-content-end flex-grow-1 ps-lg-0">
            @if (!user()) {
              <li class="nav-item mt-4">
                <div class="d-flex gap-2 ms-lg-4 flex-column flex-lg-row">
                  <button class="btn rounded-pill bg-primary text-white px-3" (click)="openLogin()">Log In</button>
                  <button class="btn text-decoration-underline" (click)="openRegister()">Register</button>
                </div>
              </li>
            }
            @else {
              <div class="action d-none d-lg-block">
                <div class="profile" (click)="profileMenuToggle()"></div>
                <div class="menu" #profileMenu>
                  <ul id="menu-list" class="list-unstyled m-0">
                    <li>
                      <div class="d-flex gap-3 align-items-center">
                        <div class="profile"></div>
                        <div class="d-flex flex-column">
                          <span class="text-dark">{{ userInfo().name }}</span>
                          <small>{{ userInfo().email }}</small>
                        </div>
                      </div>
                    </li>
                    <hr>
                    <li class="menu-item"><a class="" [routerLink]="['/profile']">
                      <div class="d-flex gap-3 align-items-center">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                      </div>
                    </a></li>
                    <li class="menu-item"><a class="" href="#">
                      <div class="d-flex gap-3 align-items-center">
                        <i class="bi bi-translate"></i>
                        <span>Language</span>
                      </div>
                    </a></li>
                    <hr>
                    <li>
                      <button class="logout-button" (click)="logout()">
                        <div class="d-flex gap-3 align-items-center">
                          <i class="bi bi-box-arrow-right"></i>
                          <span>Logout</span>
                        </div>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mt-4 d-lg-none">
                <ul class="list-unstyled m-0 d-flex flex-column gap-2">
                  <li><a class="text-white" [routerLink]="['/profile']">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="bi bi-person"></i>
                      <span>Profile</span>
                    </div>
                  </a></li>
                  <li><a class="text-white" href="#">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="bi bi-translate"></i>
                      <span>Language</span>
                    </div>
                  </a></li>
                  <li>
                    <button class="text-white logout-button" (click)="logout()">
                      <div class="d-flex gap-3 align-items-center">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Logout</span>
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
            }
        </div>
      </div>
  </div>
</nav>
