@import './scss/custom-variables';
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Italic';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --white-color:                  #{$white};
  --primary-color:                #{$primary};
  --secondary-color:              #{$secondary};
  --section-bg-color:             #{$white};
  --custom-btn-bg-color:          #{$secondary};
  --custom-btn-bg-hover-color:    #{$primary};
  --dark-color:                   #282626;
  --p-color:                      #717275;
  --border-color:                 #1ddf9e;
  --link-hover-color:             #{$primary};

  --body-font-family:             'SF Pro Text', sans-serif;
  --title-font-family:            'SF Pro Display', sans-serif;

  --h1-font-size:                 3.625rem;
  --h2-font-size:                 2.875rem;
  --h3-font-size:                 2rem;
  --h4-font-size:                 1.75rem;
  --h5-font-size:                 1.5rem;
  --h6-font-size:                 1.375rem;
  --p-font-size:                  1.25rem;
  --menu-font-size:               1rem;
  --btn-font-size:                1.125rem;
  --copyright-font-size:          1rem;

  --border-radius-large:          6.25rem;
  --border-radius-medium:         1.25rem;
  --border-radius-small:          0.625rem;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: #FBFBFB;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

i {
  font-family: 'SF Pro Italic' !important;
}

.form-control, .form-select {
  border: none !important;
}

.form-control:focus, .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(#82bd69, 1)
}

a {
  text-decoration: none !important;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section {
  padding-top: 120px;
  padding-bottom: 40px;
  background-image: linear-gradient(15deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  border-radius: 0 0 20px 20px;

  @media (min-width: 992px) {
    padding-bottom: 75px;
  }

  & * {
    font-family: var(--body-font-family) !important;
  }
}

.offcanvas-backdrop.show {
  opacity: 0.75 !important;
}

.ngb-tp {
  justify-content: center;
}

.fc-event-main {
  cursor: pointer;
}

/*---------------------------------------
  OFFCANVAS
-----------------------------------------*/
.offcanvas {
  @media (min-width: 450px) {
  & {
     width: 400px !important;
   }
  }

  @media (min-width: 768px) {
    & {
       width: 35% !important;
     }
  }

  @media (min-width: 992px) {
    & {
       width: 25% !important;
     }
  }
}


/*---------------------------------------
  MAPBOXGL
-----------------------------------------*/

.mapboxgl-popup-content {
  background-color: var(--white-color) !important;
  padding: 1.5rem 0.75rem !important;
  border-radius: 10px !important;
}

.mapboxgl-popup-close-button {
  outline: none !important;
}

.mapboxgl-popup-close-button:hover {
  background-color: inherit !important;
}


@media screen and (min-width: 480px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  h4 {
    font-size: 1.375rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }
}
