:root {
  --white-text: #ffffff;
  --green-50: #f3faf3;
  --green-100: #e2f6e3;
  --green-200: #c7ebc9;
  --green-300: #9bda9e;
  --green-400: #67c16b;
  --green-500: #42a547;
  // $green-600: #2e7d32; --> bootstrap $primary
  --green-700: #2a6b2d;
  --green-800: #265529;
  --green-900: #204724;
  --green-950: #0d260f;

  --off-white: #FBFBFB;
}

@import 'scss/custom-variables';
@import 'bootstrap/scss/bootstrap';


@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Italic';
  src: url('assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body, * {
  font-family: 'SF Pro Text', Helvetica, sans-serif !important;
  box-sizing: border-box;
}

i {
  font-family: 'SF Pro Italic' !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', Helvetica, sans-serif !important;
}

a {
  text-decoration: none !important;
}

input {
  border: none !important;
}

.text-green-50 {
  color: var(--green-50) !important;
}
.text-green-100 {
  color: var(--green-100) !important;
}
.text-green-200 {
  color: var(--green-300) !important;
}
.text-green-300 {
  color: var(--green-300) !important;
}
.text-green-400 {
  color: var(--green-400) !important;
}
.text-green-500 {
  color: var(--green-500) !important;
}
.text-green-700 {
  color: var(--green-700) !important;
}
.text-green-800 {
  color: var(--green-800) !important;
}
.text-green-900 {
  color: var(--green-900) !important;
}
.text-green-950 {
  color: var(--green-950) !important;
}

.form-label {
  margin-bottom: 0.25rem !important;
}

.form-control:focus, .form-select:focus {
  box-shadow: 0 0 0 0.25rem $primary !important;
}

.offcanvas-backdrop.show {
  opacity: 0.75 !important;
}

.ngb-tp {
  justify-content: center;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
