$primary: #204724;
$secondary: #82bd69;
$white: #FBFBFB;
$navbar-padding-y: 1rem;
$navbar-toggler-focus-width: 0px;
$btn-close-focus-shadow: 0px;
$btn-close-color: $secondary;
$modal-backdrop-opacity: 0.9;
$modal-inner-padding: 1.5rem;
$form-select-border-width: 0px;
$input-line-height: 1.5;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$link-color: $secondary;
$tooltip-padding-x: 1rem;
$tooltip-padding-y: 1rem;
$tooltip-opacity: 1;
$tooltip-color: $white;
$tooltip-bg: $primary;
