$primary: #2E7D32;
$navbar-toggler-focus-width: 0px;
$btn-close-focus-shadow: 0px;
$btn-close-color: $primary;
$modal-backdrop-opacity: 0.9;
$modal-inner-padding: 1.5rem;
$form-select-border-width: 0px;
$input-line-height: 1.5;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
