<div class="site-footer py-5">
  <div class="container">
      <div class="row">

          <div class="col-lg-4 col-12 mb-4 pb-2">
              <a class="navbar-brand d-flex align-items-center gap-2 mb-2" href="index.html">
                <img src="../../../../assets/images/logo.png" alt="Logo">
                <span>{{ title }}</span>
              </a>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mb-4 mb-lg-0">
              <h6 class="site-footer-title mb-3">Information</h6>

              <p class="text-secondary mb-1">
                <span>&copy;{{getFullYear()}} FUT-BCN</span>
              </p>
          </div>

          <div class="col-lg-4 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  English</button>

                  <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">English</button></li>

                      <li><button class="dropdown-item" type="button">Spanish</button></li>

                      <li><button class="dropdown-item" type="button">Catalan</button></li>
                  </ul>
              </div>

          </div>

      </div>
  </div>
</div>
